:root{
  --primary-color: #965694;
  --secondary-color: #81E3D6;
  --light-purple-color: #E498E1;
  --light-yellow-color: #dece95;
}

.primary-button{
  background-color: var(--primary-color);
  color: white;
  padding: .4rem 2rem;
  border-radius: 40px;
  transition: .4s;
  font-size: 18px;
  &:hover{
    background-color: var(--light-purple-color);
  }
}

.login{
  width: 50%;
  input{
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: .02s;
    transition: .02s;
  }
  input:focus{
    border: 1px solid var(--light-purple-color);
  }
}
.loading{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 9;
  color: #000000;
  font-size: 80px;
}
